<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Monitoring Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='data_styles.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <header>
        <h1>{{ title }}</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}">Início</a></li>
                <li><a href="{{ url_for('add_device') }}">Adicionar Dispositivo</a></li>
                <li><a href="{{ url_for('configure_sensor') }}">Configurar Sensor</a></li>
                <li><a href="{{ url_for('sensor_data') }}">Histórico</a></li>
                <li><a href="{{ url_for('device_actions') }}">Ações dos aparelhos</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="container">
            <h2>Aparelhos Configurados</h2>
            <div id="devices">
                {% if devices %}
                    {% for device in devices %}
                        <div class="device" data-device="{{ device.type }}">
                            <!-- Adicionando loop.index para garantir IDs únicos -->
                            <img id="{{ device.type }}-img-{{ loop.index }}" src="{{ url_for('static', filename=device_images[device.type]) }}" alt="{{ device.type }}" style="width: 100px; height: auto;">
                            <p>{{ device.name }} ({{ device.type | capitalize }})</p>
                            <span class="tooltip"></span>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>Nenhum dispositivo configurado ainda.</p>
                {% endif %}
            </div>

            <h2>Sensores Configurados</h2>
            <div id="sensors">
                {% if sensors %}
                    <ul>
                        {% for sensor in sensors %}
                            <li>Sensor de {{ sensor.type }} - Threshold: {{ sensor.threshold }} - Intervalo: {{ sensor.interval }}s</li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>Nenhum sensor configurado ainda.</p>
                {% endif %}
            </div>

            <button id="simulate-button">Simular dados do sensor</button>
        </div>
    </main>

    <script>
    $(document).ready(function() {
        function updateDeviceImages() {
            $.ajax({
                url: "/api/current_conditions",
                type: 'GET',
                success: function(response) {
                    let temperature = response.temperature;
                    let humidity = response.humidity;
                    let light = response.light;
                    let gas = response.gas;
                    let motion = response.motion;

                    $('div[data-device="thermostat"]').each(function(index) {
                        if (temperature > 25) {
                            $(this).find('img').attr('src', "{{ url_for('static', filename='images/thermostat_cool.png') }}");
                        } else if (temperature < 15) {
                            $(this).find('img').attr('src', "{{ url_for('static', filename='images/thermostat_heat.png') }}");
                        } else {
                            $(this).find('img').attr('src', "{{ url_for('static', filename='images/thermostat_off.png') }}");
                        }
                        $(this).find('.tooltip').text('Temperature: ' + temperature + '°C');
                    });

                    $('div[data-device="humidifier"]').each(function(index) {
                        if (humidity < 40) {
                            $(this).find('img').attr('src', "{{ url_for('static', filename='images/humidifier_on.png') }}");
                        } else {
                            $(this).find('img').attr('src', "{{ url_for('static', filename='images/humidifier_off.png') }}");
                        }
                        $(this).find('.tooltip').text('Humidity: ' + humidity + '%');
                    });

                    $('div[data-device="lamp"]').each(function(index) {
                        if (light < 300) {
                            $(this).find('img').attr('src', "{{ url_for('static', filename='images/lamp_on.png') }}");
                        } else {
                            $(this).find('img').attr('src', "{{ url_for('static', filename='images/lamp_off.png') }}");
                        }
                        $(this).find('.tooltip').text('Light: ' + light + ' lux');
                    });

                    $('div[data-device="gas"]').each(function(index) {
                        if (gas > 300) {
                            $(this).find('img').attr('src', "{{ url_for('static', filename='images/sensor_gas_on.png') }}");
                        } else {
                            $(this).find('img').attr('src', "{{ url_for('static', filename='images/sensor_gas_off.png') }}");
                        }
                        $(this).find('.tooltip').text('Gas: ' + gas + ' ppm');
                    });

                    $('div[data-device="alarm"]').each(function(index) {
                        if (motion == 1) {
                            $(this).find('img').attr('src', "{{ url_for('static', filename='images/sensor_alarm_on.png') }}");
                        } else {
                            $(this).find('img').attr('src', "{{ url_for('static', filename='images/sensor_alarm_off.png') }}");
                        }
                        $(this).find('.tooltip').text('Motion: ' + (motion == 1 ? 'Detected' : 'None'));
                    });

                },
                error: function(xhr, status, error) {
                    alert("Um erro ocorreu enquanto buscava as condições atuais: " + error);
                }
            });
        }

        $('#simulate-button').click(function() {
            $.ajax({
                url: "{{ url_for('simulate_sensor_data_route') }}",
                type: 'POST',
                success: function(response) {
                    alert(response.message);
                    updateDeviceImages();
                },
                error: function(xhr, status, error) {
                    alert("Ocorreu um erro: " + error);
                }
            });
        });

        updateDeviceImages();
    });
    </script>
</body>
</html>